* {
    margin: 0;
    padding: 0;
}
body{
    
    min-width: 320px;
}

/* top left menu boxes */
#top-left {
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: nowrap;
}

#top-left .top-l-menu-box {
    padding: 0 8px;
}

#top-left .top-l-menu-box select {
    appearance: none;
    padding: 5px 25px 5px 3px;
    background-image: url(img/down-arrow-svgrepo-com.png);
    background-repeat: no-repeat;
    background-position: right 0.65rem center;
    background-size: 0.35rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
}

#top-left .top-l-menu-box select option {
    background-color: white;
    color: black;
    font-size: 0.9rem;
}

#top-left .top-l-menu-box #select-lang {
    display: flex;
    flex-direction: row;
    border: 0.5px solid rgba(255, 255, 255, 0.267);
    border-radius: 5px;
}

#top-left .top-l-menu-box #select-lang:focus-within {
    border-color: white;
}

#top-left .top-l-menu-box #select-lang img {
    width: 100%;
    height: 1.7rem;
}


#top-left .top-l-menu-box button {
    background-color: #e50a14;
    padding: 9px 17px;
    color: white;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
}

/*
    top right - website logo  
    width and height of logo is given at last (@media) 
*/
#top-right {
    img {
        display: inline;
        background-color: transparent;
    }

    display: flex;
    align-items: top;
}

/* end of top right */
#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 10%;
    padding: 1.75%;
    height: 5rem;
}

/* end of header top */

#header::before {
    content: "";
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.785), transparent, transparent, rgba(0, 0, 0, 0.753)),
        url(img/largeBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    box-shadow: 0 -10px 30px red;
}

#header {
    z-index: 0;
    color: white;
    height: 100%;
}

#header-body {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}

#header-body #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: transparent;
    font-family: sans-serif;
}

#header-body #content #heading {
    font-size: 4rem;
    width: 85%;
    font-weight: bold;
    margin-bottom: 1rem;
}

#header-body #content #sub-heading {
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#header-body #content #para {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#header-body #content #get-email {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 10px;
}

#header-body #content #get-email input {
    width: 19rem;
    padding: 18px 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    background: linear-gradient(to bottom, rgb(34, 31, 31, 0.545), rgba(34, 31, 31, 0.577));
    backdrop-filter: blur(1px);
}

#header-body #content #get-email button {
    width: 12.25rem;
    color: white;
    border: 0.5px solid rgba(229, 10, 20, 0.267);
    border-radius: 5px;
    font-size: 100%;
    align-items: center;
    justify-content: center;

    padding-right: 38px;
    padding-left: 10px;

    background-image: url(img/right-arrow-svgrepo-com.png);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-color: rgb(229, 10, 20);
}

/* 
    header's foot design
*/
#headerfootlight {
    /* background-color: rgba(128, 31, 31, 0.973); */
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 1px;

}

#headerfootlight::before{
    content: "";
    height: 50%;
    width: 100%;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1),
            rgba(184, 40, 105, 1) 16%,
            rgba(229, 9, 20, 1),
            rgba(184, 40, 105, 1) 84%,
            rgba(33, 13, 22, 1));

    position: absolute;
    top: -40px;
    border: 1rem solid transparent;
    border-width: 20px 0;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    margin: 0;
    padding: 0;
}        
#headerfootlight::after{
    content: "";
    height: 50%;
    width: 100%;
    background: radial-gradient(circle at center , black );
    position: absolute;
    top: -36px;
    border: 0rem solid black;
    border-width: 20px 0;
    border-color: black;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    margin: 0;
    padding: 0;
}

@media (min-width:760px) {
    img {
        width: 9.5rem;
        height: 2.4rem;
    }

    body {
        background-color: black;
    }
}
@media (max-width:900px){
        
    #header-body #content #heading {
        font-size: 3rem;
    }

    #header-body #content #sub-heading {
        font-size: 1rem;
    }

}
@media(min-width:320px) and (max-width:759px) {

    img {
        width: 8rem;
        height: 2.5rem;
    }
    
    #header-body #content{
        width: 70%;
    }

    #header-body #content #heading {
        font-size: 2.5rem;
    }

    #header-body #content #sub-heading {
        font-size: 1rem;
    }

    #header-body #content #para {
        font-size: 0.9rem;
    }

    #header-body #content #get-email {
        font-size: 1rem;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #header-body #content #get-email input{
        width: 100%;
    }
    #header-body #content #get-email button{
        padding: 15px 8px 15px 0px ;
        display: inline;
    }

    #top-left .top-l-menu-box #select-lang img {
        width: 1%;
    }

    #top-left .top-l-menu-box select {
        padding: 5px 55px 5px 3px;
    }

    #top-left .top-l-menu-box button {
        padding: 9px 47px; 
        margin-bottom: 10%;
    }

    body {
        background-color: black;
    }
}

@media(max-width:380px) {

    #header-top,
    #top-left {
        flex-direction: column;
    }
    body{
        background-color: black;
    }
}

@media (max-width:319px){

    #top-left .top-l-menu-box #select-lang img {
        width: 1%;
    }
}